@model MiniCard
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <div>
        <p>Id: </p>
        <h4>@Model.id</h4>
    </div>
    <div>
        <p>Icon: </p>
        <h4>@Model.Icon</h4>
    </div>
    <div>
        <p>Title: </p>
        <h4>@Model.Title</h4>
    </div>
    <div>
        <p>Descrption: </p>
        <h4>@Model.Description</h4>
    </div>
</div>
