@model HomeCard
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <div>
        <p>Id: </p>
        <h4>@Model.Id</h4>
    </div>
    <div>
        <p>Icon: </p>
        <h4>@Model.Icon</h4>
    </div>
    <div>
        <p>Title: </p>
        <h4>@Model.Title</h4>
    </div>
    <div>
        <p>SubTitle: </p>
        <h4>@Model.SubTitle</h4>
    </div>
</div>

